.navigationBarWrapper {
  display: flex;
  background-color: lightblue;
}
.button {
  display: flex;
  column-count: 5;
  gap: 50px;
  align-items: flex-end;
}
.logotype {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

.button,
.signIn {
  cursor: pointer;
}
